body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#box {
  position: absolute;
  display: grid;
  place-items: center;
  left: 0;
  top: 0px;
  right: 0;
  bottom: 0px;
  z-index: 1;
}

#message {
  font-family: system-ui, serif;
  text-align: center;
  font-size: 2rem;
  padding: 3rem;
  border-radius: 1rem;
  background: #ff6e6c;
  font-weight: bold;
}

#exit {
  position: fixed;
  top: 10px;
  left: 10px;

  border: none;
  border-radius: 16px;
  background: #ff6e6c;
  color: white;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

#remoteVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

#localVideo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30vw;
  border-radius: 12px;
  max-width: 360px;
  max-height: 202px;
  z-index: 1;
  transform: scaleX(-1); /* localVideo를 좌우로 반전시킵니다. */
  border: 1px solid #000; /* 실선 테두리 스타일 추가 */
}